/**
 * some extra info
 * calc is mainly used to calibrate some pixel problems like calc(10px + 1px);
 * with straight numbers like 5 / 10 / 15 ist the most readeble way to 
 */

/**
 * Style with * simbol | This isn't the best and fastest for the website but is takes away al lot of pain
 */

*{
	outline: none;
}

/**
 * Style by Tag name (and some classes just to make it shorter)
 */

html{
	overflow-x: hidden;
}

html, body, li, ul, a, header, main, .home-button-box, .home-button, p{
	margin: 0;
	padding: 0;
}

body, .home-button, .nav-button-right-image{
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: absolute;
}

main{
	width: 100%;
	position: absolute;
	top: 70px;
	margin-top: 10px;
	text-align: center;
}

header, footer{
	width: 100%;
	height: 70px;
	background-color: #0f0f0f;
	border: none;
	box-shadow: 0 3px 50px #000000;
}

header{
	position: absolute;
	top: 0;
	box-shadow: 0 3px 50px #000000;
}

footer{
	bottom: calc(0 + 70px);
	box-shadow: 0 -3px 50px #000000;
}

button{
	cursor: pointer;
}

a{
	text-decoration: none;
	display: block;
}

li, p{
	display: inline-block; 
}

p{
	min-width: 130px;
	padding-right: 5px;
}

/**
 * Style by Class name
 */

/**
 * Style of the title and its letters
 */

.title, .nav-button-left, .nav-button-right, .footer-text, .nav-right-p{
	margin: 0;
	color: #dfdfdf;
	font-family: 'Kanit', sans-serif;
	font-size: 15px;
}

.title{
	display: block;
	cursor: pointer;
	width: 240px;
	padding: 10px;
	padding-top: 5px;
	margin-right: -2px;
	font-size: 35px;
	letter-spacing: 2px;
	/* this is very long i know but otherwise the 3d title effect would look like sh*t xD */
	text-shadow: 0 0.20px #3f3f3f, 0 0.40px #3f3f3f, 0 0.60px #3f3f3f, 0 0.80px #3f3f3f, 0 1px #3f3f3f, 0 1.20px #3f3f3f, 0 1.40px #3f3f3f, 0 1.60px #3f3f3f, 0 1.80px #3f3f3f, 0 2px #3f3f3f, 0 2.20px #3f3f3f, 0 2.40px #3f3f3f, 0 2.60px #3f3f3f, 0 2.80px #3f3f3f, 0 3px #3f3f3f,  0 3.20px #3f3f3f, 0 3.40px #3f3f3f, 0 3.60px #3f3f3f, 0 3.80px #3f3f3f, 0 4px #3f3f3f, 0 4.20px #3f3f3f, 0 4.40px #3f3f3f, 0 4.60px #3f3f3f, 0 4.80px #3f3f3f, 0 5px #3f3f3f;
	transition: 0.13s ease-out transform, 0.1s ease-out text-shadow; 
}

.title:hover{
	transform: translateY(5px);
	text-shadow: 0 0 #3f3f3f;
}

/**
 * Style of the left nav and its buttons
 */

.nav-left, .nav-right{
	position: absolute;
	top: 0;
}

.nav-left{
	left: 240px;
}

.nav-right{
	right: 15px;
}

.nav-button-left{
	height: 70px;
	background-color: #0f0f0f;
	padding: 10px;
	padding-top: 18px;
	border: none;
	border-bottom: 10px solid #0f0f0f;
	transition: 0.2s linear border-color, 0.2s linear background-color;
	margin-right: -5px;
}

.nav-button-left:hover{
	background-color: #3f3f3f;
}

.nav-button-left-1:hover{
	border-color: #2add8c;
}

.nav-button-left-2:hover{
	border-color: #059089;
}

.nav-button-left-3:hover{
	border-color: #4d1a91;
}

.nav-button-left-4:hover{
	border-color: #db20b5;
}

.nav-button-left-5:hover{
	border-color: #d43219;
}

/**
 * Style of the right nav and its buttons
 */

.nav-right-p{
	transform: translateY(4px);
}

.nav-button-right{
	background-color: #2f2f2f;
	height: 40px;
	margin-left: calc(10px + 2px);
	margin-right: calc(-5px + 1px);
	border: 3px solid #dfdfdf;
	box-shadow: 0 5px #3f3f3f;
	border-radius: 1px;
	transition: 0.13s ease-out transform, 0.1s ease-out box-shadow;
}

.nav-button-right-normal{
	margin-top: calc(10px + 2px);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: calc(5px - 1px);
}

.nav-button-right-image{
	width: 40px;
	transform: translateY(12px);
	background-color: rgba(0, 0, 0, 0);
}

.nav-button-right:hover{
	transform: translateY(5px);
	box-shadow: 0 0 #3f3f3f;
}

.nav-button-right-image:hover{
	transform: translateY(17px);
}

/**
 * Style of the footer and its text
 */



/**
 * Style of the Home page
 */

.button-box{
	display: inline-block;
	text-align: center;
	background-color: #efefef;
	padding: 10px;
	width: calc(800px + 28px);
}

.home-button, .color-section{
	background-color: #dfdfdf;
	height: 200px;
	width: calc(250px + 3px);
	border: 5px solid #3f3f3f;
	border-radius: 1px;
	margin: 3px;
	margin-bottom: 15px;
	box-shadow: 0 5px #2f2f2f;
	transition: 0.12s ease-out transform, 0.1s ease-out box-shadow;
}

.home-button:hover{
	transform: translateY(7px);
	box-shadow: 0px 0px #2f2f2f;
}

.home-button-1{
	width: calc(780px - 1px);
}

.home-button-2{
	
}

.home-button-3{
	
}

.home-button-4{
	
}

.home-button-5{
	width: calc(780px - 1px);
}

.home-button-6{

}

.home-button-7{
	width: calc(780px - 1px);
}

/**
 * Style of the login page and its sections
 */

.login-section-login, .login-section-register{
	border: 1px solid #ff0000;
	display: inline-block;
	margin: 5px;
	width: 800px;
	min-height: 300px;
}

/**
 * Style of the create page and its buttons
 */

.color-section{
	width: calc(780px + 1px);
	height: 300px;
	box-shadow: none;
}

.color-button{
 	height: 30px;
	width: 200px;
	background-color: #ff0000;
	border: none;
 }